
src/model/java/bin/**

src/model/c/**/*.o

src/model/c/**/*.d


src/model/java/.classpath

src/model/java/.project

src/model/java/.settings/org.eclipse.jdt.core.prefs

src/model/c/.project

src/model/c/.cproject

src/model/c/Debug/rsa

*.swp

*.vvp

src/tb/testmotprod.sim

toolruns/testmotprod.sim

toolruns/montprod.sim

toolruns/top.sim

toolruns/residue.sim
